html {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0px auto 0px auto;
}

#banner {
  position: relative;
  height: 80px;
  background: #fff;
  margin: 20px 0px 0px 0px;
}

#logo {
  position: absolute;
  top: 10px;

}

h1 {
  position: absolute;
  top: 10px;
  left: 50px;
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  position: absolute;
  top: 40px;
  left: 50px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #999;
  text-transform: uppercase;
}

#wifi {
  position: absolute;
  top: 20px;
  right: 26px;
}

#mail {
  position: absolute;
  top: 20px;
  right: 0;
}

#pin {
  position: absolute;
  top: 20px;
  right: 60px;
}

#flic {
  position: absolute;
  top: 20px;
  right: 86px;
}

#insta {
  position: absolute;
  top: 20px;
  right: 112px;
}

#google {
  position: absolute;
  top: 20px;
  right: 138px;
}

#twitter {
  position: absolute;
  top: 20px;
  right: 164px;
}

#fb {
  position: absolute;
  top: 20px;
  right: 190px;
}

div {
  height: 15px;
  background: #999;
}

header {
  position: relative;
}

section>header{
  height: 80px;
}

h3 {
  font-size: 2.5em;
  margin: 50px 0px 5px 0px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

h4 {
  margin: 0px 0px 10px 0px;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  color: #999;
  font-size: 14px;
}

#pizza {
  width: 960px;
  height: auto;
}

#print1 {
  position: absolute;
  top: 37px;
  right: 32px;
}

#print2 {
  position: absolute;
  top: 35px;
  right: 0;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  color: #999;
  font-size: 14px;
}

p {
  margin: 20px 0px 0px 0px;
  text-indent: 1.5em;
  font-family: 'Noto Serif', serif;
  color: #666;
  line-height: 22px;
  font-size: 17.5px;
}

#list {
  width: 960px;
  height: auto;
}

#list1 {
  float: left;
  font-size: 1.7em;
  margin: 30px 0px 0px 40px;
}

li {
  margin: 0px 0px 10px 0px;
  font-family: 'Patrick Hand', cursive;
  color: #777;
}

#list2 {
  float: right;
  font-size: 1.7em;
  margin: 30px 30px 0px 0px;
}

#section {
  position: relative;
  overflow: auto;
  background-image: url(../images/list-bg.png);
  margin: 20px 0px 25px 0px;
}

#bottom {
  position: relative;
  height: 100px;
  overflow: auto;
}

#vanessa {
  position: absolute;
  top: 15px;
  left: 2px;
}

h5 {
  position: absolute;
  font-size: 1.3em;
  top: 15px;
  left: 90px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  color: #666;
}

#about {
  position: absolute;
  font-size: 1.15em;
  top: 30px;
  left: 65px;
  max-width: 750px;
}

button {
  font-size: 20px;
  float: right;
  background: rgb(175, 75, 29);
  color: white;
  padding: 15px 35px 15px 35px;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin: 20px 0px 20px 10px;
}

footer {
  height: 150px;
  position: relative;
  margin: 50px 0px 0px 0px;
  clear: both;
}

#small-logo{
  position:absolute;
  top:0px;
  left: 475px;
}

footer>span:nth-child(2){
  position:absolute;
  top: 65px;
  left:373px;
} 

footer>span:nth-child(3){
  position:absolute;
  top: 65px;
  right:332px;
}

footer>span:nth-child(4){
  position:absolute;
  top: 85px;
  left: 400px;

}