* {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0px auto 0px auto;
}

#banner {
  position: relative;
  height: 80px;
  background: #fff;
  outline: dotted 3px orchid;
  margin: 20px 0px 0px 0px;
}

#logo {
  position: absolute;
  top: 10px;

}

h1 {
  position: absolute;
  top: 10px;
  left: 50px;
}

h2 {
  position: absolute;
  top: 25px;
  left: 50px;
}

#wifi {
  position: absolute;
  top: 20px;
  right: 26px;
}

#mail {
  position: absolute;
  top: 20px;
  right: 0;
}

#pin {
  position: absolute;
  top: 20px;
  right: 60px;
}

#flic {
  position: absolute;
  top: 20px;
  right: 86px;
}

#insta {
  position: absolute;
  top: 20px;
  right: 112px;
}

#google {
  position: absolute;
  top: 20px;
  right: 138px;
}

#twitter {
  position: absolute;
  top: 20px;
  right: 164px;
}

#fb {
  position: absolute;
  top: 20px;
  right: 190px;
}

div {
  height: 15px;
  background: #999;
}